{{ define "callback" }}

<script src='/public/js/session.js'></script>

<div id='token' style="display: none;">{{.Token}}</div>
<div id='token_type' style="display: none;">{{.TokenType}}</div>
<div id='token_expiry' style="display: none;">{{.TokenExpiry}}</div>
<div id='redirect' style="display: none;">{{.Redirect}}</div>

<script>
    Session.set('token', document.querySelector('#token').innerText);
    Session.set('token_type', document.querySelector('#token_type').innerText);
    Session.set('token_expiry', document.querySelector('#token_expiry').innerText);
    let url = document.querySelector('#redirect').innerText.split('/');
    let id = url[url.length-1];
    Session.set('myID', id);
    let redirect = document.querySelector('#redirect').innerText
    window.location.replace(redirect);
</script>

{{ end }}