{{ define "history" }}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="title" content="{{ .Title }}">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href='/public/css/style.css' type='text/css' media='all' />

</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd; padding-left: 10%; padding-right: 10%;">
    <a class="navbar-brand" href="http://localhost:8080">ICS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Profile <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">History</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item" id='login'>
          <a class="nav-link" href="#" onclick="document.getElementById('id01').style.display='block'" style="display: block;">Login</a>
        </li>
        <li class="nav-item" id='signup'>
          <a class="nav-link" href="#" onclick="document.getElementById('id02').style.display='block'" style="display: block;">Free Trial</a>
        </li>
        <li class="nav-item dropdown" id='logout' style="display: block;">
            <a class="nav-link dropdown-toggle" href="#" id="myAccount" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#" id='myProfile'>My Profile</a>
            <a class="dropdown-item" href="#" id='myHistory'>My History</a>
            <a class="dropdown-item" href="#" id='myFriends'>My Friends</a>
            <a class="dropdown-item" href="#" id='myFollowers'>My Followers</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" onclick=logout()>Logout</a>
            </div>
        </li>

      </ul>
      
    </div>
  </nav>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>{{ .Title }} Portfolio History</h2>
    </div>
    
    <div class="col-md">
      <button onclick="addFriend()" style="width:auto; display: none;" id="addFriend">Add Friend</button>
    </div>
    <div class="col-md">
      <button onclick="unfriend()" style="width:auto; display: none;" id="unfriend">Unfriend</button>
    </div>

  </div>
</div>

<div class="container border" style="margin-left: 25%; width: 48%;">
    <div class="row">
        <div class="col-md" style="text-align: right; padding-top: 20px; padding-right: 10px;">Query Range: Last 
            <a href="#" style="padding-right: 20px;" onclick="reloadHistory(7)">7 days</a>
            <a href="#" style="padding-right: 20px;" onclick="reloadHistory(14)">14 days</a>
            <a href="#" style="padding-right: 20px;" onclick="reloadHistory(30)">30 days</a>
        </div>
        
        <div class="col-md">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1" style="margin-top: 8px;">Custom: </span>
                </div>
                <input type="text" class="form-control" placeholder="30" aria-label="custom" aria-describedby="basic-addon1" name='custom' id='custom'>
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2" style="margin-top: 8px;">days</span>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id='customQuery' style="margin-bottom: 0;" onclick="reloadHistory(document.querySelector('#custom').value)">Query</button>
                </div>
              </div>
              
              

        </div>
    </div>
</div>
  

  <div style="margin-left: 20%; margin-right: 20%; padding-top: 15px;">
    <p id='response'></p>
  </div>

<div class="container-fluid" style="width: 80%;">
  <div class="row">
    <div class="col-md" id='income-list' style="background: beige;">
      <form id='0000'>
        <div class='form-row'>
          <div class="col-md-7 border">
            <label for='description' id='description_label'>Income Description</label>
            <input type='text' class='form-control' name='description' placeholder='Income Description' id='description_input' style="display: none;">
          </div>
          <div class="col-md-3 border">
            <label for='amount' id='amount_label'>Amount: $888</label>
            <input type='text' class='form-control' name='amount' placeholder='888' id='amount_input' style="display: none;">
          </div>
          <div class="col-md-2">
            <button class='btn btn-secondary' id='update'>Update</button>
          </div>
        </div>
        <div class='form-row'>
          <div class="col-md-3 border">
            <label for='category' id='category_label'>INVESTMENT</label>
            <select name='category' id='category_input' class="custom-select" style="display: none;">
              <option selected>Choose a category</option>
              <option value='INVESTMENT'>INVESTMENT</option>
              <option value='SALARY'>SALARY</option>
              <option value='PARTTIME'>PART TIME</option>
              <option value='OTHERS'>OTHERS</option>
            </select>
          </div>
          <div class="col-md-3 border">
            <label for='occueDate' id='occueDate_label'>@ 2021-01-01</label>
            <input type='date' class='form-control' name='occurDate' placeholder='occurDate' min='' value='2021-01-01' style="display: none;" id='occurDate_input'>
          </div>
          <div class="col-md-2 border">
            <label id='vote_label'>Vote: 555</label>
          </div>
          <div class="col-md-2">
            <button class='btn btn-primary' id='vote'>Vote</button>
          </div>
          <div class="col-md-2">
            <button class='btn btn-danger' id='delete'>Delete</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md" id='cost-list' style="background: #e9ecef;">
      <form id='_id'>
        <div class='form-row'>
          <div class="col-md-7 border">
            <label for='description' id='description_label'>Cost Description</label>
            <input type='text' class='form-control' name='description' placeholder='Income Description' id='description_input' style="display: none;">
          </div>
          <div class="col-md-3 border">
            <label for='amount' id='amount_label'>Amount: $888</label>
            <input type='text' class='form-control' name='amount' placeholder='888' id='amount_input' style="display: none;">
          </div>
          <div class="col-md-2">
            <button class='btn btn-secondary' id='update'>Update</button>
          </div>
        </div>
        <div class='form-row'>
          <div class="col-md-3 border">
            <label for='category' id='category_label'>LEARNING</label>
            <select name='category' id='costCat' style="display: none;" class="custom-select">
              <option selected>Choose a category</option>
              <option value='INVESTMENT'>INVESTMENT</option>
              <option value='DAILY'>DAILY</option>
              <option value='LEARNING'>LEARNING</option>
              <option value='CHARITY'>CHARITY</option>
              <option value='OTHERS'>OTHERS</option>
            </select>
          </div>
          <div class="col-md-3 border">
            <label for='occueDate' id='occueDate_label'>@ 2021-01-01</label>
            <input type='date' class='form-control' name='occurDate' placeholder='occurDate' id='occurDate_input' min='' value='2021-01-01' style="display: none;">
          </div>
          <div class="col-md-2 border">
            <label>Vote: 555</label>
          </div>
          <div class="col-md-2">
            <button class='btn btn-primary' id='vote'>Vote</button>
          </div>
          <div class="col-md-2">
            <button class='btn btn-danger' id='delete'>Delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>




  <div class='row'>
      <div class='offset-lg-2 col-lg-8 offset-md-1 col-md-10 col-sm-12'>
          <div id='message'></div>
      </div>
  </div>
</div>

<div id="id01" class="modal">
  <form class="modal-content animate" action="/api/v1/auth/ics/login" method="post">
    <p class="text-md-center" style="font-size: 2rem; padding-top: 15px;">Login</p>
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>

    <div class="container">
      <label for="userID"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="userID" required>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
        
      <button type="submit">Login</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
    </div>
  </form>
</div>

<div id="id02" class="modal">
  
  <form class="modal-content animate" action="/api/v1/auth/ics/signup" method="post">
    <p class="text-md-center" style="font-size: 2rem; padding-top: 15px;">Free Trial Signup</p>
    <div class="imgcontainer">
      <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>

    <div class="container">
      <label for="userID"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="userID" required>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>

      <label for="nickname"><b>Nickname</b></label>
      <input type="text" placeholder="Enter Nickname" name="nickname">
        
      <button type="submit">Signup</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
    </div>
  </form>
</div>


<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

//switch category selector
let costChecked = document.querySelector('#cost');
let incomeChecked = document.querySelector('#income');
let selCost = document.querySelector('#costCat')
let selIncome = document.querySelector('#incomeCat')

costChecked.addEventListener('click', (e)=>{
  selIncome.style.display = 'none';
  selCost.style.display = 'block';
})

incomeChecked.addEventListener('click', (e)=>{
  selIncome.style.display = 'block';
  selCost.style.display = 'none';
})

</script>

<!-- Optional JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/2.0.15/bootstrap-native-v4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/4.1.0/superagent.min.js" integrity="sha256-XwGIb0dW2d+hM8XPl9RcTbaNJoTfQ/xKV1n5EBYH0n4=" crossorigin="anonymous"></script>
<script src='/public/js/history.js'></script>


</body>
</html>

{{ end }}