{{ block "nav" . }}
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd; padding-left: 10%; padding-right: 10%;">
    <a class="navbar-brand" href="http://localhost:8080">ICS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" id='profile' style='display: block;'>Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id='history' style='display: block;'>History</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item" id='login'>
          <a class="nav-link" href="#" onclick="document.getElementById('id01').style.display='block'" style="display: block;">Login</a>
        </li>
        <li class="nav-item" id='signup'>
          <a class="nav-link" href="#" onclick="document.getElementById('id02').style.display='block'" style="display: block;">Free Trial</a>
        </li>
        <li class="nav-item dropdown" id='logout' style="display: block;">
          <a class="nav-link dropdown-toggle" href="#" id="myAccount" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#" id='myProfile'>My Profile</a>
            <a class="dropdown-item" href="#" id='myHistory'>My History</a>
            <a class="dropdown-item" href="#" id='myFriends'>My Friends</a>
            <a class="dropdown-item" href="#" id='myFollowers'>My Followers</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" onclick="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <div id="id01" class="modal">
    <form class="modal-content animate" action="/api/v1/auth/ics/login" method="post">
      <p class="text-md-center" style="font-size: 2rem; padding-top: 15px;">Login</p>
      <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      </div>
  
      <div class="container">
        <label for="userID"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="userID" required>
  
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
  
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
          
        <button type="submit">Login</button>
        <a href="/api/v1/auth/google"><img src="public/images/google-signin.jpg" style="width: 50%;"></a>
        <a href="/api/v1/auth/auth0"><img src="public/images/auth0-signin.jpg" style="width: 50%;"></a>

      </div>
  
      <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      </div>
    </form>
  </div>
  
  <div id="id02" class="modal">
    
    <form class="modal-content animate" action="/api/v1/auth/ics/signup" method="post">
      <p class="text-md-center" style="font-size: 2rem; padding-top: 15px;">Free Trial Signup</p>
      <div class="imgcontainer">
        <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
      </div>
  
      <div class="container">
        <label for="userID"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="userID" required>
  
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
  
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
  
        <label for="nickname"><b>Nickname</b></label>
        <input type="text" placeholder="Enter Nickname" name="nickname">
          
        <button type="submit">Signup</button>
        <a href="/api/v1/auth/google"><img src="public/images/google-signin.jpg" style="width: 50%;"></a>
        <a href="/api/v1/auth/auth0"><img src="public/images/auth0-signin.jpg" style="width: 50%;"></a>
      </div>
  
      <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
      </div>
    </form>
  </div>

  <script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
  </script>

{{ end }}