{{ define "terms" }}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="title" content="{{ .Title }}">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href='/public/css/style.css' type='text/css' media='all' />

</head>
<body>

  {{ template "nav" .}}

  <div class="container">

    <h1>使用條款</h1>
    <div class="part">
        以下條款包含了關於您使用ICSharing.com（即icsharing.com並在出現本協議其他相關網站）（以下簡稱“網站”）的規則和條件。當您使用本網站提供的服務或瀏覽網站時，您明確同意：（i）受使用條款、服務條款約束，以及可適用於網站特定區域、內容或交易的任何附加條款，並所有網站上公布的政策（統稱“協議”），及（ii）遵守本協議以及網站所有適用的法律、法規。 ICSharing.com保留在任何時間隨時修改本協議的權力，一旦張貼於網站即為有效。您使用本網站以下任何修改即表明您同意遵守修改協議的約束。如果您違反了協議，ICSharing.com可能會終止您使用本網站的權限，封鎖未來使用本網站的權力，取消您的訂單，和/或采取適當的法律程序。您可以隨時查看最新版本的使用條款：icsharing.com。
    </div>
    <div class="part">
        <h3>網站使用</h3>
        當您於ICSharing.com瀏覽或購物時，ICSharing.com提供產品，服務和其他功能（以下簡稱“服務”）。您可以使用本網站您看到，聽到，或以其他方式體驗網站上的資訊，文字，圖像，音效，影像，和/或所有內容，（“內容”），以了解ICSharing服務。任何權利，所有權或任何內容都歸ICSharing.com所有，包含您下載或以其他方式取得的內容。 ICSharing.com保留所有內容的所有權以及智慧財產權與修改任何內容或服務的權力。您使用本網站任何修改即表明您同意這樣的內容或服務。除明確協議授權，您不得使用，修改，復制，分發，或發送任何內容，或者由網站獲得的任何內容創作衍生的作品。
    </div>
    <div class="part">
        <h3>版權</h3>
        網站及所有內容均受美國和外國版權法的保護，並專屬於ICSharing.com。您可以下載並轉載內容作為個人或公司使用，但你不得竄改或以任何方式更改任何圖片或其他內容。
    </div>
    <div class="part">
        <h3>第三方網站的連接</h3>
        本網站轉載的任何第三方網站或訊息的連結僅作為提供方便服務給你。如果使用這些連結，您將離開本網站並可能受到該網站所有條款和適用這些網站的政策。這樣的連結並不構成或暗示認可，贊助，隸屬關系，或ICSharing.com推薦第三方，第三方網站或其中包含的訊息。 ICSharing.com不負責或承擔任何此類網站，上面的內容，或者其可用性。
    </div>
    <div class="part">
        <h3>軟體</h3>
        通過本網站下載任何軟體是ICSharing.com和/或授權者的版權作品。使用這些軟體受到最終用戶許可協議條款的管轄。下載，安裝，和/或使用任何此類軟體表示您接受最終用戶許可協議的條款。
    </div>
    <div class="part">
        <h3>免責條款</h3>
        ICSharing.com不做任何明示或暗示的保證，聲明或代言任何關於網站，內容或服務。 ICSharing.com明確表示不承擔任何形式的擔保（明示，暗示，法定的或其他方式），包括適用法律允許的最大范圍內，但不限於適銷性的暗示擔保，適合特定用途，所有權和非侵權，關於網站，內容，服務，以及通過本網站任何產品或提供的服務。ICSharing.com不保證通過本網站或服務所執行的功能不會中斷,及時,安全,無差錯,或無病毒,或在本網站或服務的缺陷將得到糾正。並且不保證本網站或服務內容的準確性或完整性,或在內容中的任何錯誤都將得到更正。所提供的“現況”及“現有”基礎提供的網站,服務和內容。您同意,您使用本網站,服務和內容都將自行承擔風險。
    </div>
    <div class="part">
        <h3>責任限制</h3>
        在任何情況下，ICSharing.com對任何損害不承擔賠償責任，但不限於任何直接，附帶，衍生的，特殊，懲戒性，或其他間接損失或有關於：（i）使用或無法使用本網站，服務或內容;（ii）任核通過或透過本網站的交易進行（三）任何有關網站的錯誤，遺漏，或不準確的服務和/或內容的索賠; （四）未經授權訪問或更改您的傳輸或資料;或（v）與本網站，服務或內容的任何其他事項，即使ICSharing.com已告知此類損害的可能性。如果你不滿意本網站的服務，內容或協議，您唯一的方法就是停止使用本網站。因為有些州不允許排除或限制必然或偶然的損害的賠償責任，上述的一些限制可能並不適用於您。在這樣的狀態，ICSharing.com責任是有限的，並保證在法律允許的最大範圍內，ICSharing.com為所有索賠，訴訟，損失，持續，招致你將遭受負債或費用（包括律師費），在任何情況下，不超過$100.00美元。
    </div>
    <div class="part">
        <h3>保障</h3>
        您理解並同意您會親自負責您的網站上的活動和行為。因您違反本條款的行為或不行為而引起的任何和一切索賠、程序、損害賠償、傷害、債務、損失、費用和開支(包括合理的律師費用和開支),您同意向本網站及其相關公司、關聯公司、高級職員、代理商、共同品牌所有人或其他合伙人及雇員作出補償,為其辯護並使其免受損害。
    </div>
    <div class="part">
        <h3>用戶行為</h3>
        您同意使用本網站僅用於合法目的。您同意不採取可能危及網站的安全性，使網站無法使他人瀏覽，或者以其他方式造成損壞網站或內容的任何行為。您同意不增加，刪去或修改內容，或試圖訪問不適合您的任何內容。您同意不使用本網站來進行可能會干涉第三方權利的任何行為。
    </div>
    <div class="part">
        <h3>建言政策</h3>
        <p>ICSharing.com及其員工不接受或考慮任何主動提供的想法，包括有關新的廣告活動、營銷策略、新產品或產品改進、技術，服務，工藝，或新的產品名稱的想法。請勿以任何形式向ICSharing.com及其員工主動提供任何想法、建議、提議、評論或資源。本政策旨在避免由於ICSharing.com產品、服務、功能或營銷策略與提供給ICSharing.com的想法相似或雷同而產生的誤解或爭論。</p>

        <p>請不要向ICSharing.com及其員工傳達您的想法。如您了解我們的政策，但仍要向ICSharing.com提供想法，則無論您所提供的信件、電子郵件、概要或其他傳播內容為何，都應遵循以下條款。</p>
        <p>您同意：</p>

        <p>（i）您提交的想法及其內容將自動成為ICSharing.com財產，且不會為您或任何第三方提供任何補償。(ii) ICSharing.com沒有義務檢查、保存、確認或返還想法或任何相關資源。(iii)ICSharing.com沒有義務保證您所提交的想法的保密性或專有性，也不對任何使用或洩漏想法的行為承擔任何責任。(iv) ICSharing.com能夠以任何目的（商業或其他）無限制使用或重新發布您所提交的想法及其內容。雖然ICSharing.com不接受您主動提交的想法，但歡迎您對我們的現有產品提供建議，以改善客戶服務。如果您要向我們提供意見，都可以都過網站連繫我們。請僅提供有關ICSharing.com現有產品的評價，請勿附加ICSharing.com政策禁止接受或考慮的任何想法。您提供的任何意見都將受以下用戶提供的訊息條款的規範。</p>
    </div>
    <div class="part">
        <h3>用戶提供的訊息</h3>
        對於所有用戶提供的訊息("提交"),您必須保證ICSharing.com您提供訊息的正確性,且不會違反任何法律或任何人或實體的權利。您提供的個人資料將受隱私條款的保護。
    </div>
    <div class="part">
        <h3>違反協議</h3>
        如果本公司認為你使用的是與協議不符,或已侵犯本公司或其他用戶的權利,或已違反法律,您同意在無須事先通知下, 本公司有權利自行決定終止您訪問本網站,取消您的訂單,或行使其他任何比酷爾可行的補救措施。您同意因違反協定而金錢賠償,您同意本公司有權對任何此類違反禁令或其它進行公平救濟。
    </div>
    <div class="part">
        <h3>總則</h3>
        <ol class="list">
            <li>本協議（及任何其他於此處提及之條款及條件）構成您與ICSharing.com之間就本網站之完整協議，並取代任何先前或同時間ICSharing.com與訪客間之關於本網站之通訊及提議。</li>
            
            <li>內容可能包含錯誤或不準確之處，並可能不完整或當前。本公司因此保留的權利，但不是承擔義務，監測和糾正任何錯誤、 不實之處或遺漏和更改或在不事先通知的情況下隨時更新的內容。</li>
            
            <li>該協議是由中華民國法律所管轄。如果有任何爭議或涉及的網站，內容或協議，通過使用網站，您同意：（i）爭議將受中華民國的法律管轄，而不考慮其他沖突法律條款約束; （二）中華民國台北地方法院擁有其管轄權; （三）裁決管轄地點位於中華民國台北地方法院的法庭; （四）在中華民國台北地方法院外，不展開任何訴訟，起訴或其他法律程序，並放棄在法律允許的最大範圍內，任何聲稱任何此類訴訟，動作，或法律程序帶來的不便。</li>
            
            <li>如果有部分協議是由有管轄權的法院認定為無效或無法執行，也不會影響協議的任何其他條款，本協議的其餘條款仍有效並且有約束力。</li>
        </ol>
    </div>

</div>


<!-- Optional JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/2.0.15/bootstrap-native-v4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/4.1.0/superagent.min.js" integrity="sha256-XwGIb0dW2d+hM8XPl9RcTbaNJoTfQ/xKV1n5EBYH0n4=" crossorigin="anonymous"></script>


</body>
</html>
{{ end }}